body {
  font-family: "Roboto", sans-serif
}

#sandwiches {
    width: 200px; 
    /*font-family: Arial, sans-serif; */
    font-size: 16px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    background-color:darksalmon;
    color: #333; 
  }
  
  #sandwiches option {
    background-color: rgb(231, 182, 165); 
    color: #333; 
    padding: 8px;
  }
  